<h2 class="text-center mt-3 text-uppercase text-default"> <strong>About</strong></h2>
<div class="container">
    <p>GitSearch is a website that uses Git Api to display the profile and the repositories of a person has</p>
    <p>Through this, one can enter their github username and click search to view their profile and repositories</p>

    <p>I have managed to build this using the following languages:</p>
    <ul>
        <li>TypeScript</li>
        <li>Html</li>
        <li>Node Framework</li>
        <li>Styled using CSS and Bootstrap</li>
    </ul>
</div>